/* CSS for Embryo Digital Atlas project */
body {
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	background: #262626;
	color: #e6e6e6;
	margin: 0;
	padding: 0 !important;
	text-rendering: optimizeLegibility;
}

/* Links */
	a,
	a:link,
	a:active,
	a:visited {
		text-decoration: none;
		border: none;
		color: #39006f;
		-webkit-transition: all 0.1s ease-out;
		   -moz-transition: all 0.1s ease-out;
		    -ms-transition: all 0.1s ease-out;
		     -o-transition: all 0.1s ease-out;
		        transition: all 0.1s ease-out;
	}
	a:hover {
		color: #8521e4;
		border: none;
	}

/* Elements */
	p {
		margin: 1em 0;
	}
	b,
	strong {
		font-weight: 700;
	}
	hr {
		clear: both;
		visibility: hidden;
		height: 15px;
	}
	abbr {
		border-bottom: 1px dotted #333;
	}
	i,
	em {
		font-style: italic;
	}
	ul {
		list-style: none;
	}
/* Headers */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Dosis', sans-serif;
		color: black;
		margin: 1em 0;
	}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
	}

/* Core classes */
	.nowrap {
		white-space: nowrap;
	}
	.block {
		display: block;
	}
	.strong {
		font-weight: 700;
	}

/* Site Header */
	.sticky-nav {
		position: fixed;
		width: 100%;
		height: auto;
		z-index: 3;
		background-color: white;
	}
	header {
		color: black;
	}
	header .title-wrap {
		float: right;
		text-align: right;
		padding: 0.3em 1em;
	}
	header h1 {
		margin: 0;
		padding: 0 0.5em 0 0;
		font-size: 1.2em;
		text-transform: lowercase;
		color: black;
		letter-spacing: 0.1em;
		font-weight: 500;
	}
	header h1 a, header h1 a:link, header h1 a:visited, header h1 a:hover {
		color: black;
	}

/* Menu */
	nav.main-menu {
		padding: 0.8em 1em 0.5em 1em;
	}
	.nav-content  {
		overflow: hidden;
		max-height: 0;
		width: 100%;
		-webkit-transition: max-height 0.5s ease-out;
		-moz-transition: max-height 0.5s ease-out;
		transition: max-height 0.5s ease-out;
	}
	ul.main-nav {
		margin: 0;
		padding: 1em 0 1.5em 0;
		font-weight: 500;
	}
	ul.main-nav li {
		margin: 0;
		display: inline-block;
		margin-right: 1em;
		text-transform: lowercase;
	}
	.nav-selector {
		text-transform: uppercase;
		font-weight: 700;
		width: 100%;
		font-size: 1em;
	}
	/* Animating header */
	header:hover .nav-content {
		max-height: 40px;
	}
	header:hover .nav-selector span {
		border-bottom: 5px solid black;
		cursor: pointer;
	}
	/* Tagline */
	ul.main-nav li.tagline {
		float: right;
		text-align: right;
		margin-top: -1em;
		font-size: 0.8em;
		color: #777;
	}

/* Canvas */
	.viewport {
		text-align: center;
		padding-top: 5em;
		z-index: 1;
	}

/* Content (text pages) */
	section, .content {
		font-family: 'Open Sans', sans-serif;
		background: #e6e6e6;
		color: #999;
	}	

/* Footer */
	footer {
		background: white;
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 40px;
		color: black;
		padding: 0;
		-webkit-box-shadow: -1px -5px 5px -3px rgba(0,0,0,0.24);
		-moz-box-shadow: -1px -5px 5px -3px rgba(0,0,0,0.24);
		box-shadow: -1px -5px 5px -3px rgba(0,0,0,0.24);
		z-index: 3;
	}
	.dataset-label {
		display: inline-block;
		text-transform: uppercase;
		padding: 0.5em 1em;
	}
	.dataset-name {
		text-transform: capitalize;
		font-weight: 700;
	}
	/* Upload Button */
	.add-dataset {
		float: right;
		position: relative;
		color: #39006f;
	}
	.btn-label {
		text-align: right;
		text-transform: uppercase;
		font-size: 0.8em;
		position: absolute;
		right: 70px;
		margin-top: 0.2em;
		width: 100px;
		font-weight: 500;
	}
	.btn-add {
		display: block;
		width: 60px;
		height: 40px;
		text-align: center;
		background: #39006f;
		right: 0;
		padding: 0;
		margin: 0;
	}
	.btn-add:before {
		content: "+";
		position: absolute;
		font-size: 2.5em;
		color: white;
		top: -15px;
		left: 20px;
	}
	.add-dataset:hover {
		cursor: pointer;
		color: #8521e4;
	}
	.add-dataset:hover .btn-add {
		background: #8521e4;	
	}

/* Popup pages */
	.overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(255, 255, 255, 0.7);
		transition: opacity 500ms;
		visibility: hidden;
		opacity: 0;
		z-index: 2;
	}

	.overlay:target {
	  	visibility: visible;
		overflow: auto;
	  	opacity: 1;
	}

	.popup {
		margin: 70px auto;
		padding: 2.5em;
		background: #fff;
		border-radius: 5px;
		width: 80%;
		position: relative;
		transition: all 5s ease-in-out;
		-webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.24);
		-moz-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.24);
		box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.24);
	}
	.popup h2 {
		margin: 0;
		color: #333;
		font-weight: 300;
		font-size: 2em;
	}
	.popup h3 {
		margin-top: 0;
		color: #333;
		font-weight: 700;
		font-size: 1em;
		text-transform: uppercase;
	}
	.popup .close {
		position: absolute;
		top: 0;
		right: 30px;
		transition: all 200ms;
		font-size: 60px;
		text-decoration: none;
		color: black;
	}
	.popup .close:hover {
		color: #8521e4;
	}
	.popup .content {
		max-height: 30%;
		overflow: auto;
		background: white;
	}
	.popup .content p {
		text-align: justify;
	}

	@media screen and (max-width: 700px){
	  .box {
		  width: 70%;
	  }
	  .popup {
		  width: 70%;
	  }
	}
