html {
	/* -webkit-font-smoothing: antialiased; */
}

/* add @font-face rules here */


/* AVERIA */

@font-face {
  font-family: "_averia";
  src: url("../fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf");
}
@font-face {
  font-family: "_averia";
  font-style: italic;
  src: url("../fonts/Averia_Serif_Libre/AveriaSerifLibre-Italic.ttf");
}
@font-face {
  font-family: "_averia";
  font-weight: 200;
  src: url("../fonts/Averia_Serif_Libre/AveriaSerifLibre-Light.ttf");
}
@font-face {
  font-family: "_averia";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/Averia_Serif_Libre/AveriaSerifLibre-LightItalic.ttf");
}
@font-face {
  font-family: "_averia";
  font-weight: 600;
  src: url("../fonts/Averia_Serif_Libre/AveriaSerifLibre-Bold.ttf");
}
@font-face {
  font-family: "_averia";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/Averia_Serif_Libre/AveriaSerifLibre-BoldItalic.ttf");
}
/* DOSIS */

@font-face {
  font-family: "_dosis";
  src: url("../fonts/Dosis/Dosis-Regular.ttf");
}

@font-face {
  font-family: "_dosis";
  src: url("../fonts/Dosis/Dosis-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "_dosis";
  src: url("../fonts/Dosis/Dosis-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "_dosis";
  src: url("../fonts/Dosis/Dosis-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "_dosis";
  src: url("../fonts/Dosis/Dosis-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "_dosis";
  src: url("../fonts/Dosis/Dosis-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "_dosis";
  src: url("../fonts/Dosis/Dosis-ExtraBold.ttf");
  font-weight: 800;
}
