.sidebar {
  background: rgba(30,30,30,1);
  width: 200px;
  font-family: 'Open Sans', sans-serif;
}

.sidebar .control {
  margin: 0;
  width: 100%;
}

.sidebar .panel {
  padding: 8px 12px;
}

.sidebar #view-control .panel { padding-top: 4px }

.sidebar .control .title {
  background: rgba(168,168,168,1);
  border: 1px outset black;
  display: block;
  position: relative;
  font-size: 0.8rem;
  font-weight: 400;
  color: black;
  height: 24px;
  line-height: 18px;
  padding: 0.2rem;
  margin: 0;
  box-sizing: border-box;
}

.sidebar .control .sub-title {
  background: black;
  color: white;
  display: block;
  width: 100%;
  padding: 0.1rem;
  font-size: 0.7rem;
  box-sizing: border-box;
  height: 16px;
  position: relative;
  margin-bottom: 0.2rem;
}

.sidebar .collapse-indicator {
  height: 100%;
  width: 24px;
  color: black;
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.sidebar label {
  color: white;
  font-size: 0.8rem;
 }

.sidebar input.trigger {
  width: 100%;
  height: 50px;
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: 1;
}

/*Collapsing panel rules*/
.sidebar input.trigger + label + .panel,
.sidebar input.trigger + .ortho-container + .panel {
  -webkit-transition: height 0.1s, padding 0.1s ease-in-out;
  transition: height 0.1s, padding 0.1s ease-in-out;
  height: 100%;
}

.sidebar input.trigger:checked + label + .panel,
.sidebar input.trigger:checked + .ortho-container + .panel {
  height: 0;
  padding: 0 8px 0 8px;
  overflow: hidden;
}

/* +/- indicator */
.sidebar input.trigger + label .collapse-indicator::after,
.sidebar input.trigger + .ortho-container .collapse-indicator::after
 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  content: "-"
}

.sidebar input.trigger:checked + label .collapse-indicator::after,
.sidebar input.trigger:checked + .ortho-container .collapse-indicator::after {
  content: "+"
}

.sidebar input.trigger + .sub-title .collapse-indicator::after { color: white; }
.sidebar input.trigger + .ortho-container .collapse-indicator::after { color: white; }


.sidebar .inline-container {
  margin: 0.2rem 0;
  height: 100%;
  overflow: hidden;
}

.sidebar .inline-container > * {
  display: block;
  float: left;
}

.sidebar .ortho-container { height: 16px; }
.sidebar .ortho-container .sub-title { width: calc(100% - 16px); }


.sidebar .input[type=range], .input-square{
  height: 16px;
  width: 16px;
  background: white;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
  padding: 4px;
  box-sizing: border-box;
  margin: 0;
}

.sidebar .slider.bar {
  position: relative;
  height: 16px;
  width: calc(100% - 16px);
  box-sizing: border-box;
}

.sidebar .slider.thin { position: relative; }

.sidebar .outer-bar {
  background: black;
  width: 100%;
  height: 100%;
}

.sidebar .slider.bar label { display: block; }

.sidebar .inner-bar {
  height: 100%;
  width: 100%;
  position: absolute;
}

.sidebar .bar-reading {
  position: absolute;
  right: 4px;
  font-size: 0.7rem;
  line-height: 16px;
  color: rgba(158, 158, 158, 1)
}

.sidebar .slider-reading {
  position: absolute;
  right: 4px;
  top: 50%;
  font-size: 0.6rem;
  line-height: 16px;
  color: rgba(158, 158, 158, 1)
}

.sidebar .input-container {
  width: 100%;
  margin: 5px 0;
}

.sidebar .input-container .slider-label { float: none; }

.sidebar #zoom-slider {
  margin-top: 5px;
  width: 100%;
}

.sidebar .panel .input-container:first-child { margin-top: 0; }
/*.sidebar .panel .input-container:last-child { margin-bottom: 0.8rem; }*/

.sidebar #view-control .input-container:first-child { margin-top: 0; }

.sidebar #view-control .input-container {
  margin: 0;
}

.sidebar #view-control .input-container label {
  font-size: 0.8rem;
}

.sidebar #view-control label[for="rotation-box"] {
  margin-top: 5px;
}

.sidebar #view-control .inline-container {
  margin: 0;
}

.sidebar .playback-container { height: 16px }

.sidebar #nuclei-bar {
  background: rgba(104,109, 118, 1);
}

.sidebar #dperk-bar {
  background: rgba(157,136, 91, 1)
}

.sidebar #twist-bar {
  background: rgba(156,180, 180, 1)
}

.sidebar #dorsal-bar {
  background: rgba(104,109, 118, 1)
}

.sidebar #ind-bar {
  background: rgba(91,122, 117, 1)
}

.sidebar #rhomboid-bar {
  background: rgba(99,81, 53, 1)
}

.sidebar #speed-bar {
  background: rgba(104,109, 118, 1)
}

.sidebar #orbit-bar {
  background: rgba(104,109, 118, 1)
}

.sidebar #zoom-bar {
  background: rgba(104,109, 118, 1)
}

/*Custom Slider Overrides*/

.sidebar input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
}

.sidebar input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.sidebar input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.sidebar input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
.sidebar input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 12px;
  width: 4px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */*/
}

/* All the same stuff for Firefox */
.sidebar input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 12px;
  width: 4px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
.sidebar input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 12px;
  width: 4px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
}

.sidebar input[type=range] {
  width: calc(100% - 40px);
  height: 1px;
  border: none;
  margin: 0;
  margin: 5px 0;
  box-sizing: border-box;
}

/* playback slider */

.sidebar .playback input[type=range] {
  margin: 8px 0;
  width: calc(100% - 32px);
}

.sidebar .playback input[type=range]::-webkit-slider-thumb { height: 16px; }

.sidebar .playback input[type=range]::-moz-range-thumb { height: 16px; }

.sidebar .playback input[type=range]::-ms-thumb { height: 16px; }

.sidebar .range-container input[type=range] { width: 100%; }

.sidebar .ortho-container + .panel input[type=range] { width: calc(100% - 12px); }

.sidebar .ortho-container + .panel input[type=checkbox].input-square ~ .checkbox-label {
  height: 12px;
  width: 12px;
}

.sidebar .ortho-container + .panel input[type=checkbox].input-square ~ .checkbox-label:after {
  height: 12px;
  width: 12px;
  font-size: 0.5rem;
}

.sidebar #view-control .slider { margin-bottom: 1px;}


.sidebar img {
  width: 100%;
  height: auto;
}

/*custom checkboxes*/

.sidebar input[type=checkbox].input-square {
  position: absolute;
  top: -9999px;
  left: -9999px;

}
.sidebar input[type=checkbox].input-square ~ .checkbox-label {
  height: 16px;
  width: 16px;
  background: white;
  position: relative;
}

.sidebar input[type=checkbox]:checked.input-square ~ .checkbox-label::after {
  content: "X";
  color: black;
  width: 16px;
  height: 16px;
  position: absolute;
  text-align: center;
}

/*Sidebar footer*/

.sidebar .view-footer {
  height: 40px;
  position: relative;
}

.sidebar .view-footer button {
  height: 28px;
  width: 60px;
  font-size: 0.5rem;
  font-weight: bold;
  padding: 0.1rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
