html, body {
  background: rgba(38,38,38,1);
  margin: 0;
  padding: 0;
  font: normal 300 1em "_dosis";
  margin: 0 !important;
	padding: 0 !important;
	text-rendering: optimizeLegibility;
  overflow: hidden;
}

/* Links */
a,
a:link,
a:active,
a:visited {
	text-decoration: none;
	border: none;
	color: #39006f;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}
a:hover {
	color: #8521e4;
	border: none;
}

/* Elements */
p {
	margin: 1em 0;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
b,
strong {
	font-weight: 700;
}
hr {
	clear: both;
	visibility: hidden;
	height: 15px;
}
abbr {
	border-bottom: 1px dotted #333;
}
i,
em {
	font-style: italic;
}
ul {
	list-style: none;
}
/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Dosis', sans-serif;
	color: black;
	margin: 1em 0;

  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

/* Core classes */
.nowrap {
	white-space: nowrap;
}
.block {
	display: block;
}
.strong {
	font-weight: 700;
}

/* Site Header */
.sticky-nav {
	position: fixed;
	width: 100%;
	height: auto;
	z-index: 3;
	background-color: white;
}
header {
	color: black;
}
header .title-wrap {
	float: right;
	text-align: right;
	padding: 0.3em 0;
}
header h1 {
	position: absolute;
	top: 0.3em;
	right: 13px;
	margin: 0;
  font: normal 200 1.2em "_averia";
	text-transform: lowercase;
	color: black;
	/* letter-spacing: 0.1em; */

}
header h1 a, header h1 a:link, header h1 a:visited, header h1 a:hover {
	color: black;
}

/* Menu */
nav.main-menu {
	padding: .7em 15px 0.5em 15px;
}
.nav-content  {
	overflow: hidden;
	max-height: 0;
	width: 100%;
}
ul.main-nav {
	margin: 0;
	padding: 1em 0 1.5em 0;
	font-weight: 400;
	letter-spacing: 0.025em;
}
ul.main-nav li {
	margin: 0;
	display: inline-block;
	margin-right: 2em;
	text-transform: lowercase;
  cursor:pointer;
}

ul.main-nav li a {
  /* padding-bottom: 2px; */
}

.tagline .strong {
  font-weight: 600;
}

ul.main-nav li:last-child {
  margin-right: 0;
}

.nav-selector {
	text-transform: uppercase;
	font-weight: 700;
	width: 100%;
	font-size: 1em;
}
/* Animating header */
header:hover .nav-content {
	max-height: 40px;
}
header:hover .nav-selector span {
	border-bottom: 5px solid black;
	cursor: pointer;
}

header:hover .sticky-nav {
  background: white;
}

ul.main-nav li a:hover {
  border-bottom: 3px solid #8521e4;
}


/* Tagline */
ul.main-nav li.tagline {
	float: right;
	text-align: right;
	margin-top: -1em;
	font-size: 0.8em;
}

/* Content (text pages) */
section, .content {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	font-weight: 400;
	letter-spacing: 0.05em;
	background: #e6e6e6;
	color: black;
}

/* Footer */

footer {
	/* background: white; */
	position: fixed;
	bottom: 0;
	width: 100%;
	color: black;
	padding: 0;
	height: 40px;
  -webkit-box-shadow: -1px -5px 5px -3px rgba(0,0,0,0.24);
  -moz-box-shadow: -1px -5px 5px -3px rgba(0,0,0,0.24);
   box-shadow: -1px -5px 5px -3px rgba(0,0,0,0.24);
   z-index: 3;
	/* cursor: pointer; */
}

footer.expanded {
  overflow-y: scroll;
  overflow-x: hidden;
}

.footwrap {
  position: relative;
}

.drawer {
  background: rgb(245,245,245);
}

.swollen {
  height: 50px;
}
.swollen.expanded:hover .titlebar {
  background-color: white;
}

.fast-ease {
  -webkit-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  transition:         all 400ms cubic-bezier(0.19, 1, 0.22, 1);
}

.drawer:hover {
  /* background: white; */
}

.expanded {
  background: rgb(247, 247, 247);
  height: 75vh;
}

footer .titlebar > * {
  float: left;
}

footer .titlebar {
  top:0;
  left: 0;
  height: 40px;
  cursor: pointer;
  padding: 0 30px;
}
.dataset-label {
	text-transform: uppercase;
	padding: 0.7em 0;
	margin-right: 15px;
}
.dataset-name {
	text-transform: capitalize;
	font-weight: 700;
}

.dataset-info-button {
  padding: 0 15px;
  margin: 0 30px;
  cursor: pointer;
  height: 40px;
}

.dataset-info-button a {
  position: relative;
  top: 0.7em;
  color: #39006f;
  cursor:pointer;
}

.dataset-info-button:hover {
  background: white;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
  -moz-box-shadow:    0px 0px 15px 0px rgba(0,0,0,0.2);
  box-shadow:         0px 0px 15px 0px rgba(0,0,0,0.2);
}

.dataset-info-button:hover a {
  top: 0.55em;
}

g.arrow {
  transform: scale(1,-1) translate(0,-33px);
  transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
}

footer.expanded g.arrow {
  transform: scale(1,1) translate(0,9px);
}

.swollen #arrow-line {
  transform: scale(1,2) translate(0,-7px);
}

.swollen.expanded #arrow-line {
  transform: scale(1,1.5) translate(0,-4px);
}
.swollen.expanded g.arrow {
  transform: translate(0,13px);
}

g.arrow polygon {
  fill: #39006f;
}

#arrow-line {
  transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  stroke: #39006f;
}


.ds-info-panel {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: rgba(255,255,255,0.7);
  padding: 60px 120px 100px 120px;
  box-sizing: border-box;
  z-index: 2;
}

.ds-info-panel.visible {
  bottom: 0px;
}
.ds-info-panel.high {
  margin-bottom:75vh;
  max-height: 25vh;
  overflow-y: scroll;
}

.ds-info-panel .content-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.ds-info-panel h1 {
  font: normal 200 32px/1.4em "_averia";
  text-transform: capitalize;
}

.ds-info-panel p {
  letter-spacing: 0.075em;
  line-height: 1.5em;
  text-align: justify;
}






/* Popup pages */
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.9);
    /* transition: opacity 500ms; */
    visibility: hidden;
    opacity: 0;
    z-index: 2;
  }

  .overlay:target {
      visibility: visible;
    overflow: auto;
      opacity: 1;
  }

  .popup {
    margin: 120px auto;
    padding: 60px;
    background: #fff;
    border-radius: 0;
    width: 80%;
    max-width: 800px;
    height: 100%;
    position: relative;
    transition: all 1s ease-in-out;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.08);
    -moz-box-shadow:    5px 5px 15px 5px rgba(0,0,0,0.08);
    box-shadow:         5px 5px 15px 5px rgba(0,0,0,0.08);
  }
  .popup h2 {
    margin: 0;
    color: black;
    font-weight: 300;
    font-size: 2em;
    margin: 0px 0 60px 0;
  }
  .popup h3 {
    margin-top: 0;
    color: #333;
    font: normal 900 16px/1.3em "_dosis";
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: .75em;
  }
  .popup .close {
    position: absolute;
    top: 60px;
    right: 60px;
    transition: all 200ms;
    /* font-size: 60px; */
    text-decoration: none;
    color: black;
  }
  .popup .close:hover {
    opacity: 0.6;
    transition: none;
  }
  .popup .content {
    overflow: auto;
    background: white;
  }
  .popup .content p {
    text-align: justify;
    padding-bottom: 1em;
  }

  @media screen and (max-width: 700px){
    .box {
      width: 70%;
    }
    .popup {
      width: 70%;
    }
  }

/* Upload Button */
.add-dataset {
	float: right;
	position: relative;
	color: #39006f;
}
.btn-label {
	text-align: right;
	text-transform: uppercase;
	font-size: 0.8em;
	position: absolute;
	right: 70px;
	margin-top: 0.2em;
	width: 100px;
	font-weight: 500;
}
.btn-add {
	display: block;
	width: 60px;
	height: 40px;
	text-align: center;
	background: #39006f;
	right: 0;
	padding: 0;
	margin: 0;
}
.btn-add:before {
	content: "+";
	position: absolute;
	font-size: 2.5em;
	color: white;
	top: -15px;
	left: 20px;
}
.add-dataset:hover {
	cursor: pointer;
	color: #8521e4;
}
.add-dataset:hover .btn-add {
	background: #8521e4;
}


/* json tile filler stuff (dataset footer) */

.data-gallery-wrapper {
  /* overflow: scroll; */
  /* background: rgb(243, 243, 243); */
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dataset-tile {
  background: white;
  width: 20%;
  min-width: 200px;
  margin: 0 15px 15px 0;
  position: relative;
  cursor: pointer;
  float: left;
}

.dataset-tile:hover {
  /* border: 1px solid black; */
  left: 2px;
  bottom: 2px;
  -webkit-box-shadow: -2px 2px 18px 4px rgba(0,0,0,0.09);
  -moz-box-shadow:    -2px 2px 18px 4px rgba(0,0,0,0.09);
  box-shadow:         -2px 2px 18px 4px rgba(0,0,0,0.09);
}
.dataset-tile:active {
  left:1px;
  bottom: 1px;
  -webkit-box-shadow: -2px 2px 9px 2px rgba(0,0,0,0.09);
  -moz-box-shadow:    -2px 2px 9px 2px rgba(0,0,0,0.09);
  box-shadow:         -2px 2px 9px 2px rgba(0,0,0,0.09);
}

.dataset-tile:first-child {
  /* margin-left: 0; */
}

.dataset-tile .preview {
  width: 100%;
  height: 150px;
  background-size: contain;
  background-blend-mode: lighten;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(38,38,38,1);
}
.dataset-tile .description {
  padding: 5px;
}

.dataset-tile h1 {
  font: 600 21px "_dosis";
}

.dataset-tile dt {
  font: 600 14px "_dosis";
  letter-spacing: 0.025em;
}

.dataset-tile dd {
  font: 300 14px "_dosis";
  letter-spacing: 0.075em;
}

/*Control Navigation Section */

.control {
  margin: 15px 30px;
  width: 200px;
  float:left;
}
.control .title h1 {font: normal 600 13px "_dosis";letter-spacing: .1em;background: rgba(255,255,255,0.6);text-transform: uppercase;padding: 5px;margin: 0;}

.control .panel {
  background: rgba(0,0,0,0.2);
  padding: 15px;
}

.control .panel p {
  font: normal 700 13px "_dosis";
  letter-spacing: .1em;
  color: white;
  margin: 0 0 15px 0;
}


/* loading demo stuff: */

.loadwrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;

}
.loadwrapper .loading {
  position: relative;
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
  background: url("../images/embryo-loading2.gif");
  background-color: rgba(38,38,38,1);
  background-size: cover;
  background-blend-mode: lighten;
}

.loadwrapper .loading p {
  color: white;
  font: normal 200 21px "_dosis";
  position: absolute;
  margin-top: 45%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}


/* viewport hide/show demo stuff: */

.hidden {
  opacity: 0;
}

.vp-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 50px;
}
.viewport {
  width: 300px;
  height: 300px;
  position: absolute;
  text-align: center;
  transition: opacity 1s;
  z-index: 1;
}

#v1 {
  background: red;
  margin-left: 0px;
}

#v2 {
  background: green;
  margin-left: 10px;
}

#v3 {
  background: blue;
  margin-left: 20px;
}


.viewport h1 {
  font: 300 32px "_dosis";
  color: white;
}

.viewport p {
  font: 600 18px "_dosis";
  color: white;
}

.switcher {
  margin: 50px;
}


/*Legend Styles */

.container {
  display: block;
  align-items: center;
  width:300px;
  float:right;
  height: 100%;
  text-align: center;
}

a{
  color:#b1dcfb;
  text-decoration:none;
}
h4.legend-title {
  color: darkcyan;
}
li{
  list-style-type:none;
  }
.topcorner{
   position:absolute;
   top:0;
   right:0;
   }
.legend {
  color: #fff;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  display: table;
}

.legend:hover {
  color: #000;
  transition: all ease .5s;
}

#modal {
  background-color: #ededed;
  color: #474c4a;
  padding: 20px;
  border-radius: 4px;
  /* Width of modal */
  width: 40%;
  position: absolute;
  top: 5%;
  left: 50%;
  right:10%;
  display: none;
  box-sizing: border-box;
}

#modal p {

  overflow: auto;
}

#modal .close {
  background-color: #b1dcfb;
  color: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  padding: 4px;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
}
.highlight {
  font-weight: bold;
  color:darkslategray;
}

.userView {
  margin:0 auto;
  text-align:center;
}

@media (max-width: 680px){
  #modal {
    width: 80%;
    left: 10%;
  }
}

@media (max-width: 380px){
  #modal {
    width: 90%;
    top: 5%;
    left: 5%;
  }
}

/*End Legend Styles */

/* --- viewport styles ---
